.resume-creator-container{
    padding: 0px
}

.resume-viewer{
    background-color: rgb(229, 228, 234);
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: scroll;
}

.form-builder{
}